p.class1{
    color:red;
    border:1px solid black;
    font-size: 10px;
}
a:hover{
    color:orange;
    border:1px solid blue;
}
html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px; 
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif; 
    background-color: #00539F;
  }
  h1 {
      font-size: 22px;
      text-align: center;
      margin: 0px;
      padding: 10px 0px;
  }
body{
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: aquamarine;
    border: 3px solid black;
}
img {
    display: block;
    width: 100px;
    height: 100px;
}
